// These are all main components that are taking all space available and displaying flex
html,body {
  height:100%;
  margin: 0px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.el-container {
  min-height: 100%;
}

.el-main {
  display: flex;
  width: 100%;
}

.main-body {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

// Main form style, putting some color and taking all the space available
.el-form {
  background-color: #f9fafc;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// Display all forms items flex
.el-form-item {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

// Styling forms label
.el-form-item__label {
  text-align: left !important;
  font-weight: bold;
}

// Flex display to avoid overlow on child element
.el-form-item__content .el-radio-group {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

// Break line to avoid overflow
.el-radio__label {
  white-space: pre-wrap;
}

// div containing buttons, displaying flex (again) for horizontal alignement
div.el-form-item.buttons .el-form-item__content {
  display: flex;
}

// Submit button align right
button.el-button.btn-submit.el-button--primary {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

// Back button align left
button.el-button.btn-back.el-button--button {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

// tabulation
.tab {
  margin-left: 20px;
  }

// subtitles
#subtitle {
  color: grey;
  font-style: italic;
}

.information {
  margin: 10px;
}

// footer
.el-footer {
  background: #d3dce6;
  text-align: center;
}

// Main page, card configuration
.card-image {
  height: 250px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.el-card {
  margin-bottom: 20px;
  cursor: pointer;
}

.card-title {
  font-weight: bold;
  padding: 14px;
  text-align: center;
}

.img__info {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 2em;
  margin-bottom: 3em;
}
